

body {
  background-color: #f0f0f5 !important;
}

hr {
  border-color: black !important;
}

img {
  border-radius: 10px;
}

.navbar {
  font-family: "Montserrat";
}

.navbar-brand {
  color: white !important;
}

.portfolio-header {
  background-color: Crimson ;
  padding: 10px;
  border-radius: 10px;
}

.modal-header {
  background-color: Crimson ;
  color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
}

.featured {
  background-color: white;
  border-style: solid;
  border-radius: 10px;
}

.featured-work {
  padding: 10px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.text-right {
  color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
}

.featured-text {
  margin-bottom: 1%;
}

.portfolio-image {
  margin-bottom: 2%;
}

.featured-image {
  cursor: pointer;
}



/*Style for modals*/
.button {
  color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-weight: bold;
  font-size: 1.25em;
  background-color: Crimson;
  border: none;
  padding: .5em 1em;
  box-shadow: 0 0 0 2px Crimson inset;
  border-radius: .25em;
  cursor: pointer;
  -webkit-transition: background .4s ease, color .4s ease;
  transition: background .4s ease, color .4s ease;
}

.button:hover {
  box-shadow: 0 0 0 2px Crimson inset;
  -webkit-text-stroke-color: Crimson;
  background-color: transparent;
}

.modal-description {
  padding-left: 15px;
  padding-right: 15px;
}

.main-footer {
  margin-top: 20px;
}

.highlight {
  opacity:1;
}

.highlight:hover {
  filter: brightness(70%);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }
